In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests

### Extract CSVs into DataFrames

In [10]:
# Filtering ou

athlete_events = "Resources/athlete_events.csv"
athlete_events_df = pd.read_csv(athlete_events)
figure_skating_df = athlete_events_df[athlete_events_df['Sport'] == 'Figure Skating']


# Drop Losers

winners_figure_skating_df = figure_skating_df.dropna(subset=['Medal'])
winners_figure_skating_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
278,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014 Winter,2014,Winter,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze
2138,1188,"Benjamin Alexandro ""Ben"" Agosto",M,24.0,178.0,75.0,United States-1,USA,2006 Winter,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Ice Dancing,Silver
4156,2386,"Tenley Emma Albright (-Gardiner, -Blakely)",F,16.0,NaN,NaN,United States,USA,1952 Winter,1952,Winter,Oslo,Figure Skating,Figure Skating Women's Singles,Silver
4157,2386,"Tenley Emma Albright (-Gardiner, -Blakely)",F,20.0,NaN,NaN,United States,USA,1956 Winter,1956,Winter,Cortina d'Ampezzo,Figure Skating,Figure Skating Women's Singles,Gold
5041,2869,"Scott Ethan ""Scotty"" Allen",M,14.0,163.0,69.0,United States,USA,1964 Winter,1964,Winter,Innsbruck,Figure Skating,Figure Skating Men's Singles,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269085,134641,Zhao Hongbo,M,32.0,177.0,75.0,China-3,CHN,2006 Winter,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Pairs,Bronze
269086,134641,Zhao Hongbo,M,36.0,177.0,75.0,China-1,CHN,2010 Winter,2010,Winter,Vancouver,Figure Skating,Figure Skating Mixed Pairs,Gold
269554,134877,"Tatyana Alekseyevna Zhuk (-Shesternyova, -Soko...",F,22.0,156.0,52.0,Soviet Union-2,URS,1968 Winter,1968,Winter,Grenoble,Figure Skating,Figure Skating Mixed Pairs,Silver
269575,134888,"Aleksandr Vyacheslavovich ""Sasha"" Zhulin",M,28.0,176.0,70.0,Unified Team-2,EUN,1992 Winter,1992,Winter,Albertville,Figure Skating,Figure Skating Mixed Ice Dancing,Bronze
269576,134888,"Aleksandr Vyacheslavovich ""Sasha"" Zhulin",M,30.0,176.0,70.0,Russia-2,RUS,1994 Winter,1994,Winter,Lillehammer,Figure Skating,Figure Skating Mixed Ice Dancing,Silver

### Transform athlete DataFrame

In [ ]:
athelete_columns = ["ID", "Name", "Sex", "Age", "Height", "Weight", "Team", "NOC", "Games", "Year", "City", "Sport", "Event", "Medal"]

In [3]:
# olympic_athletes_api = requests.get('https://private-anon-e148276dd6-olympicsapi.apiary-mock.com/scrape/athletes/id')

# response = olympic_athletes_api.json()

# athletes_df = pd.DataFrame



url = "https://api.sportradar.us/olympics/{access_level}/{version}/{language_code}/schedules/{year}-{month}-{day}/schedules.{format}?api_key={your_api_key}"
response = requests.get(url)
response_json = response.json()
print(json.dumps(response_json, indent=4, sort_keys=True))

JSONDecodeError: Expecting value: line 2 column 25 (char 26)