In [4]:
import pandas as pd
from sqlalchemy import create_engine
import requests

# Winter Olympics Figure Skating Winnters

### Extract CSVs into DataFrames

In [11]:
# Filtering ou

athlete_events = "Resources/athlete_events.csv"
athlete_events_df = pd.read_csv(athlete_events)
figure_skating_df = athlete_events_df[athlete_events_df['Sport'] == 'Figure Skating']
figure_skating_df['City'] = figure_skating_df['City'].str.upper()

# Drop Losers

winners_figure_skating_df = figure_skating_df.dropna(subset=['Medal'])
winners_figure_skating_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
278,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014 Winter,2014,Winter,SOCHI,Figure Skating,Figure Skating Mixed Team,Bronze
2138,1188,"Benjamin Alexandro ""Ben"" Agosto",M,24.0,178.0,75.0,United States-1,USA,2006 Winter,2006,Winter,TORINO,Figure Skating,Figure Skating Mixed Ice Dancing,Silver
4156,2386,"Tenley Emma Albright (-Gardiner, -Blakely)",F,16.0,NaN,NaN,United States,USA,1952 Winter,1952,Winter,OSLO,Figure Skating,Figure Skating Women's Singles,Silver
4157,2386,"Tenley Emma Albright (-Gardiner, -Blakely)",F,20.0,NaN,NaN,United States,USA,1956 Winter,1956,Winter,CORTINA D'AMPEZZO,Figure Skating,Figure Skating Women's Singles,Gold
5041,2869,"Scott Ethan ""Scotty"" Allen",M,14.0,163.0,69.0,United States,USA,1964 Winter,1964,Winter,INNSBRUCK,Figure Skating,Figure Skating Men's Singles,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269085,134641,Zhao Hongbo,M,32.0,177.0,75.0,China-3,CHN,2006 Winter,2006,Winter,TORINO,Figure Skating,Figure Skating Mixed Pairs,Bronze
269086,134641,Zhao Hongbo,M,36.0,177.0,75.0,China-1,CHN,2010 Winter,2010,Winter,VANCOUVER,Figure Skating,Figure Skating Mixed Pairs,Gold
269554,134877,"Tatyana Alekseyevna Zhuk (-Shesternyova, -Soko...",F,22.0,156.0,52.0,Soviet Union-2,URS,1968 Winter,1968,Winter,GRENOBLE,Figure Skating,Figure Skating Mixed Pairs,Silver
269575,134888,"Aleksandr Vyacheslavovich ""Sasha"" Zhulin",M,28.0,176.0,70.0,Unified Team-2,EUN,1992 Winter,1992,Winter,ALBERTVILLE,Figure Skating,Figure Skating Mixed Ice Dancing,Bronze
269576,134888,"Aleksandr Vyacheslavovich ""Sasha"" Zhulin",M,30.0,176.0,70.0,Russia-2,RUS,1994 Winter,1994,Winter,LILLEHAMMER,Figure Skating,Figure Skating Mixed Ice Dancing,Silver

# Olympic Sports and Medals, 1896-2014

In [12]:
medals = "Resources/Olympic_Sports_and_Medals1896_2014.csv"
medals_df = pd.read_csv(medals)
medals_df['City'] = medals_df['City'].str.upper()

medals_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,CHAMONIX,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,CHAMONIX,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,CHAMONIX,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,CHAMONIX,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze
4,1924,CHAMONIX,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,SOCHI,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,SOCHI,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,SOCHI,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,SOCHI,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,SOCHI,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

# UFO Sightings around the world
### 80,000+ documented close encounters from the past 70 years

In [17]:
ufos = "Resources/ufo_sighting_data.csv"
ufos_df = pd.read_csv(ufos)

ufos_df['city'] = ufos_df['city'].str.upper()
del ufos_df['described_duration_of_encounter']

ufos_df = ufos_df.rename(columns={'state/province':'state or province'})



ufos_df

,Date_time,city,state or province,country,UFO_shape,length_of_encounter_seconds,description,date_documented,latitude,longitude
0,10/10/1949 20:30,SAN MARCOS,tx,us,cylinder,2700,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,LACKLAND AFB,tx,NaN,light,7200,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,CHESTER (UK/ENGLAND),NaN,gb,circle,20,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,EDNA,tx,us,circle,20,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,KANEOHE,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,NASHVILLE,tn,us,light,600,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444
80328,9/9/2013 22:00,BOISE,id,us,circle,1200,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80329,9/9/2013 22:00,NAPA,ca,us,other,1200,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80330,9/9/2013 22:20,VIENNA,va,us,circle,5,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80331,9/9/2013 23:00,EDMOND,ok,us,cigar,1020,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778