In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests

# Winter Olympics Figure Skating Winnters

### Extract CSVs into DataFrames

In [2]:
# Filtering ou

athlete_events = "Resources/athlete_events.csv"
athlete_events_df = pd.read_csv(athlete_events)
figure_skating_df = athlete_events_df[athlete_events_df['Sport'] == 'Figure Skating']
figure_skating_df['City'] = figure_skating_df['City'].str.upper()

# Drop Losers

winners_figure_skating_df = figure_skating_df.dropna(subset=['Medal'])
winners_figure_skating_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
278,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014 Winter,2014,Winter,SOCHI,Figure Skating,Figure Skating Mixed Team,Bronze
2138,1188,"Benjamin Alexandro ""Ben"" Agosto",M,24.0,178.0,75.0,United States-1,USA,2006 Winter,2006,Winter,TORINO,Figure Skating,Figure Skating Mixed Ice Dancing,Silver
4156,2386,"Tenley Emma Albright (-Gardiner, -Blakely)",F,16.0,NaN,NaN,United States,USA,1952 Winter,1952,Winter,OSLO,Figure Skating,Figure Skating Women's Singles,Silver
4157,2386,"Tenley Emma Albright (-Gardiner, -Blakely)",F,20.0,NaN,NaN,United States,USA,1956 Winter,1956,Winter,CORTINA D'AMPEZZO,Figure Skating,Figure Skating Women's Singles,Gold
5041,2869,"Scott Ethan ""Scotty"" Allen",M,14.0,163.0,69.0,United States,USA,1964 Winter,1964,Winter,INNSBRUCK,Figure Skating,Figure Skating Men's Singles,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269085,134641,Zhao Hongbo,M,32.0,177.0,75.0,China-3,CHN,2006 Winter,2006,Winter,TORINO,Figure Skating,Figure Skating Mixed Pairs,Bronze
269086,134641,Zhao Hongbo,M,36.0,177.0,75.0,China-1,CHN,2010 Winter,2010,Winter,VANCOUVER,Figure Skating,Figure Skating Mixed Pairs,Gold
269554,134877,"Tatyana Alekseyevna Zhuk (-Shesternyova, -Soko...",F,22.0,156.0,52.0,Soviet Union-2,URS,1968 Winter,1968,Winter,GRENOBLE,Figure Skating,Figure Skating Mixed Pairs,Silver
269575,134888,"Aleksandr Vyacheslavovich ""Sasha"" Zhulin",M,28.0,176.0,70.0,Unified Team-2,EUN,1992 Winter,1992,Winter,ALBERTVILLE,Figure Skating,Figure Skating Mixed Ice Dancing,Bronze
269576,134888,"Aleksandr Vyacheslavovich ""Sasha"" Zhulin",M,30.0,176.0,70.0,Russia-2,RUS,1994 Winter,1994,Winter,LILLEHAMMER,Figure Skating,Figure Skating Mixed Ice Dancing,Silver

# Olympic Sports and Medals, 1896-2014

In [3]:
medals = "Resources/Olympic_Sports_and_Medals1896_2014.csv"
medals_df = pd.read_csv(medals)
medals_df['City'] = medals_df['City'].str.upper()

medals_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,CHAMONIX,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,CHAMONIX,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,CHAMONIX,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,CHAMONIX,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,CHAMONIX,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,SOCHI,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,SOCHI,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,SOCHI,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,SOCHI,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,SOCHI,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

# UFO Sightings around the world
### 80,000+ documented close encounters from the past 70 years

In [4]:
ufos = "Resources/ufo_sighting_data.csv"
ufos_df = pd.read_csv(ufos)

ufos_df['city'] = ufos_df['city'].str.upper()
del ufos_df['described_duration_of_encounter']

ufos_df = ufos_df.rename(columns={'state/province':'state_province'})



ufos_df

,Date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,description,date_documented,latitude,longitude
0,10/10/1949 20:30,SAN MARCOS,tx,us,cylinder,2700,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,LACKLAND AFB,tx,NaN,light,7200,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,CHESTER (UK/ENGLAND),NaN,gb,circle,20,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,EDNA,tx,us,circle,20,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,KANEOHE,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,NASHVILLE,tn,us,light,600,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444
80328,9/9/2013 22:00,BOISE,id,us,circle,1200,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80329,9/9/2013 22:00,NAPA,ca,us,other,1200,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80330,9/9/2013 22:20,VIENNA,va,us,circle,5,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80331,9/9/2013 23:00,EDMOND,ok,us,cigar,1020,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778

In [19]:
connection_string = "jackson:Cheese@localhost:5432/olympics_db"
engine = create_engine(f'postgresql://{connection_string}')

In [20]:
engine.table_names()

['winter_winners', 'old_sports', 'ufo_sightings']

In [21]:
 winners_figure_skating_df.to_sql(name='winter_winners', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "ID" of relation "winter_winners" does not exist
LINE 1: INSERT INTO winter_winners ("ID", "Name", "Sex", "Age", "Hei...
                                    ^

[SQL: INSERT INTO winter_winners ("ID", "Name", "Sex", "Age", "Height", "Weight", "Team", "NOC", "Games", "Year", "Season", "City", "Sport", "Event", "Medal") VALUES (%(ID)s, %(Name)s, %(Sex)s, %(Age)s, %(Height)s, %(Weight)s, %(Team)s, %(NOC)s, %(Games)s, %(Year)s, %(Season)s, %(City)s, %(Sport)s, %(Event)s, %(Medal)s)]
[parameters: ({'ID': 145, 'Name': 'Jeremy Abbott', 'Sex': 'M', 'Age': 28.0, 'Height': 175.0, 'Weight': 70.0, 'Team': 'United States', 'NOC': 'USA', 'Games': '2014 Winter', 'Year': 2014, 'Season': 'Winter', 'City': 'SOCHI', 'Sport': 'Figure Skating', 'Event': 'Figure Skating Mixed Team', 'Medal': 'Bronze'}, {'ID': 1188, 'Name': 'Benjamin Alexandro "Ben" Agosto', 'Sex': 'M', 'Age': 24.0, 'Height': 178.0, 'Weight': 75.0, 'Team': 'United States-1', 'NOC': 'USA', 'Games': '2006 Winter', 'Year': 2006, 'Season': 'Winter', 'City': 'TORINO', 'Sport': 'Figure Skating', 'Event': 'Figure Skating Mixed Ice Dancing', 'Medal': 'Silver'}, {'ID': 2386, 'Name': 'Tenley Emma Albright (-Gardiner, -Blakely)', 'Sex': 'F', 'Age': 16.0, 'Height': None, 'Weight': None, 'Team': 'United States', 'NOC': 'USA', 'Games': '1952 Winter', 'Year': 1952, 'Season': 'Winter', 'City': 'OSLO', 'Sport': 'Figure Skating', 'Event': "Figure Skating Women's Singles", 'Medal': 'Silver'}, {'ID': 2386, 'Name': 'Tenley Emma Albright (-Gardiner, -Blakely)', 'Sex': 'F', 'Age': 20.0, 'Height': None, 'Weight': None, 'Team': 'United States', 'NOC': 'USA', 'Games': '1956 Winter', 'Year': 1956, 'Season': 'Winter', 'City': "CORTINA D'AMPEZZO", 'Sport': 'Figure Skating', 'Event': "Figure Skating Women's Singles", 'Medal': 'Gold'}, {'ID': 2869, 'Name': 'Scott Ethan "Scotty" Allen', 'Sex': 'M', 'Age': 14.0, 'Height': 163.0, 'Weight': 69.0, 'Team': 'United States', 'NOC': 'USA', 'Games': '1964 Winter', 'Year': 1964, 'Season': 'Winter', 'City': 'INNSBRUCK', 'Sport': 'Figure Skating', 'Event': "Figure Skating Men's Singles", 'Medal': 'Bronze'}, {'ID': 3118, 'Name': 'Jeannette Eleanor Altwegg (-Wirz)', 'Sex': 'F', 'Age': 17.0, 'Height': None, 'Weight': None, 'Team': 'Great Britain', 'NOC': 'GBR', 'Games': '1948 Winter', 'Year': 1948, 'Season': 'Winter', 'City': 'SANKT MORITZ', 'Sport': 'Figure Skating', 'Event': "Figure Skating Women's Singles", 'Medal': 'Bronze'}, {'ID': 3118, 'Name': 'Jeannette Eleanor Altwegg (-Wirz)', 'Sex': 'F', 'Age': 21.0, 'Height': None, 'Weight': None, 'Team': 'Great Britain', 'NOC': 'GBR', 'Games': '1952 Winter', 'Year': 1952, 'Season': 'Winter', 'City': 'OSLO', 'Sport': 'Figure Skating', 'Event': "Figure Skating Women's Singles", 'Medal': 'Gold'}, {'ID': 4392, 'Name': 'Marina Vyacheslavovna Anissina (-Dzhigurda)', 'Sex': 'F', 'Age': 22.0, 'Height': 162.0, 'Weight': 52.0, 'Team': 'France-1', 'NOC': 'FRA', 'Games': '1998 Winter', 'Year': 1998, 'Season': 'Winter', 'City': 'NAGANO', 'Sport': 'Figure Skating', 'Event': 'Figure Skating Mixed Ice Dancing', 'Medal': 'Bronze'}  ... displaying 10 of 386 total bound parameter sets ...  {'ID': 134888, 'Name': 'Aleksandr Vyacheslavovich "Sasha" Zhulin', 'Sex': 'M', 'Age': 28.0, 'Height': 176.0, 'Weight': 70.0, 'Team': 'Unified Team-2', 'NOC': 'EUN', 'Games': '1992 Winter', 'Year': 1992, 'Season': 'Winter', 'City': 'ALBERTVILLE', 'Sport': 'Figure Skating', 'Event': 'Figure Skating Mixed Ice Dancing', 'Medal': 'Bronze'}, {'ID': 134888, 'Name': 'Aleksandr Vyacheslavovich "Sasha" Zhulin', 'Sex': 'M', 'Age': 30.0, 'Height': 176.0, 'Weight': 70.0, 'Team': 'Russia-2', 'NOC': 'RUS', 'Games': '1994 Winter', 'Year': 1994, 'Season': 'Winter', 'City': 'LILLEHAMMER', 'Sport': 'Figure Skating', 'Event': 'Figure Skating Mixed Ice Dancing', 'Medal': 'Silver'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [22]:
medals_df.to_sql(name='old_sports', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Year" of relation "old_sports" does not exist
LINE 1: INSERT INTO old_sports ("Year", "City", "Sport", "Discipline...
                                ^

[SQL: INSERT INTO old_sports ("Year", "City", "Sport", "Discipline", "Athlete", "Country", "Gender", "Event", "Medal") VALUES (%(Year)s, %(City)s, %(Sport)s, %(Discipline)s, %(Athlete)s, %(Country)s, %(Gender)s, %(Event)s, %(Medal)s)]
[parameters: ({'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'BERTHET, G.', 'Country': 'FRA', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Bronze'}, {'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'MANDRILLON, C.', 'Country': 'FRA', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Bronze'}, {'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'MANDRILLON, Maurice', 'Country': 'FRA', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Bronze'}, {'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'VANDELLE, André', 'Country': 'FRA', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Bronze'}, {'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'AUFDENBLATTEN, Adolf', 'Country': 'SUI', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Gold'}, {'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'JULEN, Alphonse', 'Country': 'SUI', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Gold'}, {'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'JULEN, Ant.', 'Country': 'SUI', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Gold'}, {'Year': 1924, 'City': 'CHAMONIX', 'Sport': 'Biathlon', 'Discipline': 'Biathlon', 'Athlete': 'VAUCHER, D.', 'Country': 'SUI', 'Gender': 'Men', 'Event': 'Military Patrol', 'Medal': 'Gold'}  ... displaying 10 of 5770 total bound parameter sets ...  {'Year': 2014, 'City': 'SOCHI', 'Sport': 'Skiing', 'Discipline': 'Snowboard', 'Athlete': 'SAMKOVA, Eva', 'Country': 'CZE', 'Gender': 'Women', 'Event': 'Snowboard Cross', 'Medal': 'Gold'}, {'Year': 2014, 'City': 'SOCHI', 'Sport': 'Skiing', 'Discipline': 'Snowboard', 'Athlete': 'TRESPEUCH, Chloe', 'Country': 'FRA', 'Gender': 'Women', 'Event': 'Snowboard Cross', 'Medal': 'Bronze'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [23]:
ufos_df.to_sql(name='ufo_sightings', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Date_time" of relation "ufo_sightings" does not exist
LINE 1: INSERT INTO ufo_sightings ("Date_time", city, state_province...
                                   ^

[SQL: INSERT INTO ufo_sightings ("Date_time", city, state_province, country, "UFO_shape", length_of_encounter_seconds, description, date_documented, latitude, longitude) VALUES (%(Date_time)s, %(city)s, %(state_province)s, %(country)s, %(UFO_shape)s, %(length_of_encounter_seconds)s, %(description)s, %(date_documented)s, %(latitude)s, %(longitude)s)]
[parameters: ({'Date_time': '10/10/1949 20:30', 'city': 'SAN MARCOS', 'state_province': 'tx', 'country': 'us', 'UFO_shape': 'cylinder', 'length_of_encounter_seconds': '2700', 'description': 'This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit', 'date_documented': '4/27/2004', 'latitude': '29.8830556', 'longitude': -97.94111109999999}, {'Date_time': '10/10/1949 21:00', 'city': 'LACKLAND AFB', 'state_province': 'tx', 'country': None, 'UFO_shape': 'light', 'length_of_encounter_seconds': '7200', 'description': '1949 Lackland AFB&#44 TX.  Lights racing across the sky &amp; making 90 degree turns on a dime.', 'date_documented': '12/16/2005', 'latitude': '29.38421', 'longitude': -98.581082}, {'Date_time': '10/10/1955 17:00', 'city': 'CHESTER (UK/ENGLAND)', 'state_province': None, 'country': 'gb', 'UFO_shape': 'circle', 'length_of_encounter_seconds': '20', 'description': 'Green/Orange circular disc over Chester&#44 England', 'date_documented': '1/21/2008', 'latitude': '53.2', 'longitude': -2.916667}, {'Date_time': '10/10/1956 21:00', 'city': 'EDNA', 'state_province': 'tx', 'country': 'us', 'UFO_shape': 'circle', 'length_of_encounter_seconds': '20', 'description': 'My older brother and twin sister were leaving the only Edna theater at about 9 PM&#44...we had our bikes and I took a different route home', 'date_documented': '1/17/2004', 'latitude': '28.9783333', 'longitude': -96.64583329999999}, {'Date_time': '10/10/1960 20:00', 'city': 'KANEOHE', 'state_province': 'hi', 'country': 'us', 'UFO_shape': 'light', 'length_of_encounter_seconds': '900', 'description': 'AS a Marine 1st Lt. flying an FJ4B fighter/attack aircraft on a solo night exercise&#44 I was at 50&#44000&#39 in a &quot;clean&quot; aircraft (no ordinan', 'date_documented': '1/22/2004', 'latitude': '21.4180556', 'longitude': -157.8036111}, {'Date_time': '10/10/1961 19:00', 'city': 'BRISTOL', 'state_province': 'tn', 'country': 'us', 'UFO_shape': 'sphere', 'length_of_encounter_seconds': '300', 'description': 'My father is now 89 my brother 52 the girl with us now 51 myself 49 and the other fellow which worked with my father if he&#39s still livi', 'date_documented': '4/27/2007', 'latitude': '36.595', 'longitude': -82.18888890000001}, {'Date_time': '10/10/1965 21:00', 'city': 'PENARTH (UK/WALES)', 'state_province': None, 'country': 'gb', 'UFO_shape': 'circle', 'length_of_encounter_seconds': '180', 'description': 'penarth uk  circle  3mins  stayed 30ft above me for 3 mins slowly moved of and then with the blink of the eye the speed was unreal', 'date_documented': '2/14/2006', 'latitude': '51.434722', 'longitude': -3.18}, {'Date_time': '10/10/1965 23:45', 'city': 'NORWALK', 'state_province': 'ct', 'country': 'us', 'UFO_shape': 'disk', 'length_of_encounter_seconds': '1200', 'description': 'A bright orange color changing to reddish color disk/saucer was observed hovering above power transmission lines.', 'date_documented': '10/2/1999', 'latitude': '41.1175', 'longitude': -73.4083333}  ... displaying 10 of 80332 total bound parameter sets ...  {'Date_time': '9/9/2013 22:20', 'city': 'VIENNA', 'state_province': 'va', 'country': 'us', 'UFO_shape': 'circle', 'length_of_encounter_seconds': 5.0, 'description': 'Saw a five gold lit cicular craft moving fastly from rght to left.', 'date_documented': '9/30/2013', 'latitude': 38.9011111, 'longitude': -77.2655556}, {'Date_time': '9/9/2013 23:00', 'city': 'EDMOND', 'state_province': 'ok', 'country': 'us', 'UFO_shape': 'cigar', 'length_of_encounter_seconds': 1020.0, 'description': '2 witnesses 2  miles apart&#44 Red &amp; White Elongated-Cigar Shaped Flashing lights&#44 NW of Oklahoma City', 'date_documented': '9/30/2013', 'latitude': 35.6527778, 'longitude': -97.4777778})]
(Background on this error at: http://sqlalche.me/e/f405)